@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Our goal when creating OC Ride Share was to provide students with options. If their car breaks down,
    or they want to help the enviroment by decreasing polution, or they hate riding the bus, or they simply
    do not have transportation, they can have OC Ride Share as an option. And speaking of the environment,
    improving our envirnoment is another huge part of what we want to accomplish as well. We want to make
    an impact by helping to provide a way students can connect to use a "carpool" style service.
    <br/>
    Thanks for your support!
</p>
