@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>HEADQUARTERS:</strong><br />
    1600 Chester Avenue<br />
    Bremerton, WA 98337<br />
    <abbr title="Phone">P:</abbr>
    (360)792-6050
</address>

<address>
    <strong>Support:</strong><br />
    <a href="mailto:Support@ocrideshare.com">Support@ocrideshare.com</a><br />
</address>