@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead">To help students and the environment!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Find a Ride</h2>
        <p>See the available rides and create your rides here.</p>
        <p>@Html.ActionLink(HttpUtility.HtmlDecode("Ride List &raquo;"), "Index", "Ride", htmlAttributes: new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>About this site</h2>
        <p>Find out more about this site.</p>
        <p>@Html.ActionLink(HttpUtility.HtmlDecode("About &raquo;"), "About", "Home", htmlAttributes: new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Contact us</h2>
        <p>Want to give us some feedback on the site?</p>
        <p>@Html.ActionLink(HttpUtility.HtmlDecode("Contact us &raquo;"), "Contact", "Home", htmlAttributes: new { @class = "btn btn-default" })</p>
    </div>
</div>