@{
    ViewBag.Title = "Home Page";
}






    <p class="lead">To help students and the environment!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            To begin riding:<br />
            <ul>
                <li>Click "Ride" at the top of the page,</li>
                <li>Select a ride from the list of ride options,</li>
                <li>View the details of the ride,</li>
                <li>Decide if you would like to participate!</li>
            </ul>
        </p>
    </div>
</div>